<form action="/wizard_add">
  <div>
    <h1>New addition</h1>
  </div>

  <div>
    <label for="first">Add this:</label>
    <input id="first" name="first_num"> 

    <label for="second">to this:</label>
    <input id="second" name="second_num"> 

    <button>Add!</button> 
  </div>

</form>