<form action="/wizard_divide">
  <div>
    <h1>New division</h1>
  </div>

  <div>
    <label for="first">Divide this:</label>
    <input id="first" name="first_num"> 

    <label for="second">by this:</label>
    <input id="second" name="second_num"> 

    <button>Divide!</button> 
  </div>

</form>